@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.bg-login-admin{
    background-image: url("./bg-img/background-sky-admin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-login-staff{
  background-image: url("./bg-img/background-sky-staff.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.max-width-login{
  max-width: 400px;
}

.logo-login-admin-username{
  background-image: url("./bg-img/logo-2.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 8pt;
}

.logo-login-admin-password{
  background-image: url("./bg-img/logo-3.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 8pt;
}