@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.bg-login-admin{
    background-image: url("./bg-img/background-sky-admin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-login-staff{
  background-image: url("./bg-img/background-sky-staff.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-home{
  background-image: url("./bg-img/bg-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-room{
  background-image: url("./bg-img/roomBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-food{
  background-image: url("./bg-img/foodBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-employee{
  background-image: url("./bg-img/employeeBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.max-width-login{
  max-width: 400px;
}

.max-width-popup-login{
  max-width: 450px;
}

.logo-login-admin-username{
  background-image: url("./bg-img/logo-2.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 8pt;
}

.logo-login-admin-password{
  background-image: url("./bg-img/logo-3.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 8pt;
}

.logo-forgot-admin-email{
  background-image: url("./bg-img/logo-5.svg");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 8pt;
}

.menu{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.menu:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 15%;
}
.menu:hover:after { 
  width: 100%; 
  left: 0; 
}